In [1]:
# [+] SparkSession 설정
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('age').getOrCreate()

In [3]:
# 샘플 데이터: 한신대 맛집 및 대표메뉴
age_category = [
    ('안현', 39),
    ('안현2', 69),
    ('안현3', 49),
    ('안현4', 59),
    ('안현5', 19),
    ('안현6', 29),
]

In [4]:
# [+] 스키마 정의
schema = ['name', 'age']

In [6]:
# [+] 데이터프레임 생성
df = spark.createDataFrame(data = age_category, schema = schema)

In [7]:
# [+] 데이터프레임 출력
df.show()

+-----+---+
| name|age|
+-----+---+
| 안현| 39|
|안현2| 69|
|안현3| 49|
|안현4| 59|
|안현5| 19|
|안현6| 29|
+-----+---+

In [8]:
# [+] 데이터프레임 스키마 출력
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [10]:
# [+] Temporary View 생성
df.createOrReplaceTempView('age')

In [19]:
def age_category(age):
    if age < 35:
        return 'young';
    elif age >= 35 and age <= 59:
        return 'adult';
    else :
        return 'senior';

In [20]:
spark.udf.register("age_category",age_category )

In [21]:
spark.sql("SELECT name, age_category(age) AS age_category FROM age").show()

+-----+------------+
| name|age_category|
+-----+------------+
| 안현|       adult|
|안현2|      senior|
|안현3|       adult|
|안현4|       adult|
|안현5|       young|
|안현6|       young|
+-----+------------+